
@{
    ViewBag.Title = "EmailAlteracaoSenhaEnviado";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>EmailAlteracaoSenhaEnviado</h2>
<p>verifique sua caixa de entrada para alteração de senha</p>

