@model IdentityProjeto01.ViewModels.ContaLoginViewModel

@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary("", new { @class = "text-danger" })

    @Html.EditorForModel()

    <input type="submit" name="response" value="Esqueci minha senha" formaction=@Url.Action("EsqueciSenha") formmethod="get" class="btn btn-default" />

    <input type="submit" value="Fazer Login" class="btn btn-default" />

}